.wrapper {
    width: 100%;
    height: 68px;
    background-color: #191a40a1;
}

.content {
    margin: 40px 12px 0px 0;
    float: right;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}
