.App {
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 200px;
}

.container {
    width: 500px;
}

.msg {
    font-size: 16px;
    font-weight: 400;
}

@media (min-width: 0) and (max-width: 760px) {
    .App {
        width: 100%;
        margin-top: 100px;
    }
    .container {
        width: 100%;
    }
}
